<div class="content">
	<h2 class="header">Chatbox Controller & Socket demo</h2>
	<div class="demo-space">
	</div>
	<div class="sources">
		<a class="flat button dark-grey" href="https://github.com/liao-frank/espresso-docs/blob/master/app/controllers/socketed_controllers/demos_socketed_controller.js" target="_blank">View DemosController</a>
		<a class="flat button" href="https://github.com/liao-frank/espresso-docs/blob/master/app/assets/js/demos/demos_chatbox.js" target="_blank">View Chatbox source</a>
	</div>
</div>