<div class="content">
	<h2 class="header">Chatroom Controller & Socket demo</h2>
	<div class="demo-space hidden">
		<div class="users">
			<ul>
				<li class="user">
					Frank L
				</li>
				<li class="user">
					Mimi N
				</li>
			</ul>
			<div class="reset-user icon"></div>
		</div>
		<div class="messages">
			<ul>
			</ul>
			<div class="messenger">
				<textarea class="messenger-input" maxlength="140" placeholder="Type here..."></textarea>
			</div>
		</div>
		<div class="login-space">
			<div class="login">
				<h2 class="header">Choose a nickname.</h2>
				<input maxlength="20" class="nickname-input"/>
			</div>
		</div>
	</div>
	<div class="sources">
		<a class="flat button dark-grey" href="https://github.com/liao-frank/espresso-docs/blob/master/app/controllers/socketed_controllers/demos_socketed_controller.js" target="_blank">View DemosController</a>
		<a class="flat button" href="https://github.com/liao-frank/espresso-docs/blob/master/app/assets/js/demos/demos_chatroom.js" target="_blank">View Chatbox source</a>
	</div>
</div>