<h2 class="header">Select a demo.</h2>
<ul class="demo-list">
	<li class="demo">
		<a class="flat button" href="/demos/whiteboard">
			<div class="icon" style="background-image: url(/images/icons/whiteboard.png);"></div>
			<label>Whiteboard</label>
		</a>
	</li>
	<li class="demo">
		<a class="flat button" href="/demos/chatroom">
			<div class="icon" style="background-image: url();"></div>
			<label>Chatroom</label>
		</a>
	</li>

</ul>