<div class="content">
	<div class="demo-space whiteboard-mode">
		<div class="whiteboard">
			<canvas>

			</canvas>
			<div style="display: none;" class="switch icon unclicked"></div>
			<div class="active color"></div>
			<div class="color"></div>
			<div class="color"></div>
			<div class="color"></div>
			<div class="color"></div>
		</div>
		<div class="file">
			<div class="switch icon"></div>
		</div>
	</div>
	<div class=""></div>
</div>