<div class="content">
	<h2 class="header">Whiteboard Controller & Socket demo</h2>
	<div class="demo-space whiteboard-mode">
		<div class="whiteboard">
			<canvas>

			</canvas>
			<div style="display: none;" class="switch icon unclicked"></div>
			<div class="active color"></div>
			<div class="color"></div>
			<div class="color"></div>
			<div class="color"></div>
			<div class="color"></div>
		</div>
		<div class="file">
			<div class="switch icon"></div>
		</div>
	</div>
	<div class="sources">
		<a class="flat button dark-grey" href="https://github.com/liao-frank/espresso-docs/blob/master/app/controllers/socketed_controllers/demos_socketed_controller.js" target="_blank">View DemosController</a>
		<a class="flat button" href="https://github.com/liao-frank/espresso-docs/blob/master/app/assets/js/demos/demos_whiteboard.js" target="_blank">View Whiteboard source</a>
	</div>
</div>