<div class="content">
	<div class="title">
		<h1 class="header">A barebones Rails clone for node.js</h1><br/>
		<h3 class="sub header">Create applications in minutes within a familiar environment</h3>

		<div class="buttons">
		<a class="button flat white-text jade" href="/demos">Check out the demos</a>
		<a class="button flat" href="/getting_started">Get started here</a>
		</div>
	</div>
	<div class="why header">
		Why use
		<div class="coffee-text"></div>
		We caffeinated espresso
		and loaded it with unique advantages!
		<div class="benefits">
			<div class="benefit">
				<h3 class="header">Compatibility</h3>
				espresso sports a command line supported by javascript.

				This means out-of-the-box support for all OS compatible with Node.
				*wink* Windows *wink*
			</div>
			<div class="benefit">
				<h3 class="header">WebSockets</h3>
				Tired of AJAX? espresso is equipped with socket.io, allowing for real-time two-way communication.
				
				Build more responsive, more intuitive experiences!
			</div>
			<div class="benefit">
				<h3 class="header">Express & Node</h3>
				espresso is built on top of Express, giving advantages such as full control over requests and responses.

				Also, create apps with your favorite Node libraries!
			</div>
		</div>
	</div>
	<div class="what">
		Supported by
		<ul class="tools">
			<li class="tool">node.js</li>
			<li class="tool">express</li>
			<li class="tool">socket.io</li>
			<li class="tool">EJS</li>
		</ul>
	</div>
</div>