<div class="content">
	<h2>Please select a guide.</h2>
	<ul class="guide-list">
		<li>
			<a href='/guides/getting_started'>Getting started</a>
			Everything you need to know to install espresso and create your first application.
		</li>
		<li>
			<a href='/guides/command_line'>Command Line</a>
			This guide goes over the basic espresso command line.
		</li>
		<li>
			<a href='/guides/controllers'>Controllers</a>
			This guide goes over how controllers work and how they fit into the espresso life cycle.

			Topics also include application routing and socketed controllers.
		</li>
		<li>
			<a href='/guides/views'>Views</a>
			This guide goes over the basics of how views are rendered.

			Topics also include asset designation.
		</li>
	</ul>
</div>